<h1>Transaction with the following parameters has been entered:</h1>

<b>step {{ transaction.step }}</b>
<p>
<b>transaction type {{ transaction.transtype }}</b> 
<p>
<b>amount {{ transaction.amount }}</b> 
<p>
<b>nameOrig {{ transaction.nameOrig }}</b> 
<p>
<b>oldbanaceOrg {{ transaction.oldbalanceOrg }}</b> 
<p>
<b>newbalanceOrig {{ transaction.newbalanceOrig }}</b> 
<p>
<b>nameDest {{ transaction.nameDest }}</b> 
<p>
<b>oldbalanceDest {{ transaction.oldbalanceDest }}</b> 
<p>
<b>newbalanceDest {{ transaction.newbalanceDest }}</b> 
<p>
<b>isFraud {{ transaction.isFraud }}</b> 
<p>
<b>isFlaggedFraud {{ transaction.isFlaggedFraud }}</b> 
